<!-- artists column -->
<div class='four columns'>
<h1 class='h1'>Artists</h1>
<%= render partial: "artists", locals: {artists: @artists} %>
<%= render partial: "form_artists", locals: {artist: @artist} %>
</div>


