
	<h1 class='h2'>Add a Song</h1>
	<form method="get" action="/artists/<%= params[:artist_id] %>/albums/<%= params[:album_id] %>/songs">
		<label>Title</label>
		<input type="text" name="song[title]" />
		<input type='submit' value='Add song' />
	</form>	

<!-- GET    /artists/:artist_id/albums/:album_id/songs(.:format)      songs#new -->