<!DOCTYPE html>
<html>
<head>
  <title>TunR</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container" >
		<div>
			<div id="header">
				<h1 id="h1">Tun<span class="span">R</span></h1>
			</div>
		</div>	
	<%= yield %>

	</div>
</body>
</html>
